.modaldetails {
    border-radius: 25px 25px 5px 5px;
    background-color: aliceblue;
    position: fixed;
    right: 0px;
    height: 99%;
    width: 22%;
    border: 1px solid #999999;
    bottom: 0;
    z-index: 1;
    animation: slideUp 500ms;
    /*transform: translateX(1000px);
    transition: 0.75s;*/
}

.slideDown {
    animation: slideDown 500ms;
}

.slideUp {
    animation: slideDown 500ms;
}

@keyframes slideUp {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideDown {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 1000px) {
    .modalsmaller {
        border-radius: 25px 25px 5px 5px;
        left: 1%;
        right: 1%;
        height: 98%;
        width: 98%;
        z-index: 1;
        border: 1px solid gray;
        bottom: 0;
        overflow: auto;
        /*    animation: slideUp 500ms;*/
    }

    @keyframes slideDown {
        from {
            transform: translateY(0%);
        }
        to {
            transform: translateY(100%);
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0%);
        }
    }
}

.horizontal {
    border: 4px solid #f5f5f5;
    height: 200px;
}


.mouseEnter {
    cursor: pointer;
}


.dimgray {
    color: gray;
}


.background {
    background-color: aliceblue;
}

.size {
    height: 100vh;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
}

.button1 {
    color: #505050;
    border: 3px solid #505050;
}


.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: #505050;
}


.logo {
    height: 20%;
    width: 20%;
    display: flex;
    justify-content: end;
}

.link {
    height: 100px;
    width: 100px;
}

.darkgray {
    color: #505050;
}

.close {
    cursor: pointer;
    right: 0px;
    position: absolute;
    z-index: 1;
}

.close:hover {
    fill: gray;
    text-decoration: none;
}

.group {
    position: relative;
    width: 100%;
}

.corners {
    border-radius: 23px 23px 5px 5px;
}

.img-rounded-corners {
    border-radius: 50%;   

}

.big-img-rounded-corners {
    border-radius: 50px;
     height: 75px;
    width: 70px;
}

.zindex {
    z-index: 1;
}

