<!-- Site footer -->
<footer class="site-footer ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>A propos</h6>
        <p class="text-justify">Ce site a été envisagé à des fins pédagogiques.</p>
      </div>

      <div class="col-xs-6 col-md-3 d-none d-sm-block">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">Cours</a></li>
          <li><a href="">Exercices</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Liens rapides</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">Qui sommes nous ?</a></li>
          <li><a href="mailto:brahimfettih@gmail.com?subject=contact" >Nous contacter</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy;Tout droit réservé
          <a href="#"></a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
