<!-- <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>label</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody *ngFor="let role of roles">
    <tr>
      <td>{{ role.id }}</td>
      <td>{{ role.label }}</td>
      <td>{{ role.description }}</td>
    </tr>
  </tbody>
</table> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Label</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody *ngFor="let role of roles">
    <tr>
      <td scope="row">{{ role.id }}</td>
      <td>{{ role.label }}</td>
      <td>{{ role.description }}</td>
    <td><button (click)="supprimer(role.id)" type="button" class="btn btn-outline-danger">Supprimer</button></td>
    </tr>
  </tbody>
</table>
