<form (ngSubmit)="ajout()">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Nom du role</label>
      <input [(ngModel)]=role.label name="label" type="text" class="form-control is-valid" id="validationServer01" placeholder="Nom du role" required>
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer02">Description du role</label>
      <input [(ngModel)]=role.description name="description" type="text" class="form-control is-valid" id="validationServer02" placeholder="Description du role" required>

    </div>

  <button class="btn btn-primary" type="submit">Valider</button>
  </div>
</form>

