<!-- <p>niveau-list works!</p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>nom</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody *ngFor="let niveau of niveaux">
    <tr>
      <td>{{ niveau.id }}</td>
      <td>{{ niveau.nom }}</td>
      <td>{{ niveau.description }}</td>
    </tr>
  </tbody>
</table> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody *ngFor="let niveau of niveaux">
    <tr>
      <th scope="row">{{ niveau.id }}</th>
      <td>{{ niveau.nom }}</td>
      <td>{{ niveau.description }}</td>
    </tr>
  </tbody>
</table>
