<nav class="navbar navbar-expand-lg navbar-light" style="font-family: 'sans-serif'">
  <a class="navbar-brand" href="#">La langue du Dad</a>
  <img class="animated bounce infinite" src="assets/logo.png" style="height:30px; width:30px" />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse animated bounceInRight " id="navbarNavDropdown" >
    <ul class="navbar-nav ml-lg-5">
      <li class="nav-item active">
        <a class="nav-link " href="#">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuCours" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Cours
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuRole">
          <a class="dropdown-item" [routerLink]="['/cours']">Liste des cours</a>
          <a class="dropdown-item" [routerLink]="['/ajouter-cours']">Ajouter</a>
          <a class="dropdown-item" href="#">Modifier</a>
          <a class="dropdown-item" href="#">Supprimer</a>
        </div>
      <li class="nav-item">
        <a class="nav-link" href="#">Exercices</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuUtilisateur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Utilisateur
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuRole">
          <a class="dropdown-item" [routerLink]="['/utilisateur']">Liste des utilisateurs</a>
          <a class="dropdown-item" [routerLink]="['/ajouter-utilisateur']">Ajouter</a>
          <a class="dropdown-item" href="#">Modifier</a>
          <a class="dropdown-item" href="#">Supprimer</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuRole" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Role
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuRole">
          <a class="dropdown-item" [routerLink]="['/role']">Liste des roles</a>
          <a class="dropdown-item" [routerLink]="['/ajouter-role']">Ajouter</a>
          <a class="dropdown-item" href="#">Modifier</a>
          <a class="dropdown-item" href="#">Supprimer</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Niveaux
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/niveau']">Liste des niveaux</a>
          <a class="dropdown-item" [routerLink]="['/ajouter-niveau']">Ajouter</a>
          <a class="dropdown-item" href="#">Modifier</a>
          <a class="dropdown-item" href="#">Supprimer</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
