<form (ngSubmit)="ajout()">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Nom du niveau</label>
      <input
        [(ngModel)]="niveau.nom"
        name="nom"
        type="text"
        class="form-control is-valid"
        id="validationServer01"
        placeholder="Nom du niveau"
        required
      />
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer02">Description du niveau</label>
      <input
        [(ngModel)]="niveau.description"
        name="description"
        type="text"
        class="form-control is-valid"
        id="validationServer02"
        placeholder="Description du niveau"
        required
      />
    </div>

    <button class="btn btn-primary" type="submit">Valider</button>
  </div>
</form>
