<form (ngSubmit)="ajout()">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Nom</label>
      <input [(ngModel)]=utilisateur.nom name="nom" type="text" class="form-control" id="validationServer01" placeholder="Nom de l'utilisateur" required>
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer02">Prenom</label>
      <input [(ngModel)]=utilisateur.prenom name="prenom" type="text" class="form-control" id="validationServer02" placeholder="Prenom de l'utilisateur" required>

    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer03">Email</label>
      <input [(ngModel)]=utilisateur.mail name="mail" type="email" class="form-control" id="validationServer03" placeholder="Email de l'utilisateur" required>

    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer04">Mot de passe</label>
      <input [(ngModel)]=utilisateur.mdp name="mdp" type="text" class="form-control" id="validationServer04" placeholder="Rôle de l'utilisateur" required>

    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer05">Role</label>
      <select class="form-control" id="validationServer05" [(ngModel)]="utilisateur.role" name="role">
        <option *ngFor="let role of roles" [ngValue]=role>{{role.label}}</option>
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer06">Niveau</label>
      <select class="form-control" id="validationServer06" [(ngModel)]="utilisateur.niveau" name="niveau">
          <option *ngFor="let niveau of niveaux" [ngValue]=niveau>{{niveau.nom}}</option>
        </select>
    </div>



    <button class="btn btn-primary" type="submit">Valider</button>
  </div>
</form>

